<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>{% block titre %}Mon site Flask{% endblock %}</title> -->

    <!-- On charge le CSS depuis le dossier static/ -->
    <!-- url_for('static', ...) génère le bon chemin automatiquement -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Barre de navigation simple -->
    <nav>
        <a href="/">🏠 Accueil</a>
        <a href="/api/bonjouCeci est un long texter/Monde">🔌 Tester l'API</a>
    </nav>

    <main>
        <p>Ceci est un long texte</p>
        <b>Vous etes le {{ visitor }}</b>
    </main>

</body>
</html>